html, body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background-color: #FFF;
}
 body a{
 	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
 }
.center {
     float: none !important;
     margin-left: auto !important;
     margin-right: auto !important;
}
.head-bg{
	background:url(../images/rocksand.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.h_logo{
	position:relative;
}
.logo1{
	display:none;
}
.tekst {
	color: #66542f;
}
.header-note {
	color: #FFF;
	font-weight: 100;
	text-align:left;
	padding-top: 9.5em;
	margin: 0 auto;
	width: 80%;
}
.border {
	border-bottom: 1.8px solid #FFF;
	width: 75%;
	display: block;
}
.header-note h1{
	font-weight: 700;
	font-size: 5em;
	text-transform: uppercase;
	line-height: 1.3em;
}
.header-note h3{
	color: #ADC0C7;
}
.header-note p{
	color: #fff;
	font-size: 1.7em;
	line-height:2em;
	font-weight: 400;
	width: 81%;
}
.title{
	color: #fff;
}
h3{
	font-weight: 700;	
}
.show-date{
	color: #66542f;
	font-size: 1.5em;
	font-weight: 600;
	position: absolute;
    top: 0;
    right: 0;
	margin-right: 50px;
}
.cont{
	position: relative;
	margin: 50px;
}
.top-right{
	color: #66542f;
	text-align: center;
	font-size: 0.8em;
	font-weight: 400;
	position: absolute;
    top: 0;
    right: 0;
	margin-right: 30px;
}
.top-left{
	color: #66542f;
	font-weight: 400;
	position: absolute;
    top: 0;
    left: 0;
	margin-top: 50px;
	margin-left: 50px;
}
.table-admin{
	position: center;
    top: 0;
	margin-top: 50px;
}
/*---- start-navbar----*/
.navgation{
	top:none;
}
.navbar-custom{
	background:#eee;
}
.top-nav ul{
	margin: auto;
	width: 100%;
}
.navbar-nav li{
	margin-left: 2em;
}
.navbar-nav li a{
	background: none;
	font-size: 1.3em;
	font-weight: 600;
	color: #515050;
	
}
.grid1{
	position:relative;
}
.grid1 span{
	width: 44px;
	height: 44px;
	display: inline-block;
	background: url(../images/top-grid-icons.png) no-repeat 0px 0px;
	position: absolute;
	right: -7%;
	top: 20%;
}
.grid1 span.eual{
	background-position: -45px 0px;
}
.navbar-nav li.active a{
	font-weight: 900;
}
.top-nav ul li {
	margin-left: 2em;
}
.top-nav ul li a{
	background:#eee;
	padding: 0.5em 1.5em;
	border:6px solid #eee;
	border-radius:5px;
}
.top-nav ul li.logo a{
	background:none;
}
.top-nav ul li.logo a:hover{
	background:none;
	border:6px solid #eee;
	border-radius:5px;
}
.top-nav ul li.active a,.top-nav ul li a:hover{
	background:#FFFFFF;
	border:6px solid #D2D1CF;
	border-radius:5px;
}
.full-nav-top{
	width:100%;
}
.span{
	background:url(../images/pluss.pg) no-repeat 0px 0px;
}

/*******************/
.top-grid{
	text-align:center;
}
.features.s2 {
	padding: 10em 0em;
}
.top-grids h2,.Productive h3{
	color:#555353;
	font-size: 1.6em;
	font-weight:600;
	margin: 0.45em 0 0.5em 0;
}
.top-grids {
	padding-top: 2em;
}
.top-grids p,.Produtive p{
	color:#555353;
	font-size:1.1em;
	line-height: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	width: 72%;
}
/*******************/
.btn-primary:hover {
	outline: none;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: #FFF !important;
  	background-color: #8f7961 !important;
  	border-color: #3b3d42 !important;
}
.btn-primary:hover {
    color: #FFF !important;
  	background-color: #b8a795 !important;
  	border-color: #3b3d42 !important;
}
.form {
	width: 44%;
	margin: 0 auto;
}
.span1{
	margin-right:4%;
}
.span1,.span2 { 
	display: block;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border: 6px solid rgba(247, 163, 20, 0.84);
	outline: none;
	background: #fff;
	font-family: 'Raleway', sans-serif;
	width:48%;
}
.span1 img {
	padding: 13px;
	float:left;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.span1 i,.span2 i {
	color: #F6BB31;
	 padding: 10px 23px 10px 0px;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
}
.span2 img {
	padding: 13px;
	float:left;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.span1:hover,.span2:hover{
	background:#222;
	outline: none;
	border: 6px solid rgba(247, 163, 20, 0.84);
}
/*********************/
/*** Content ****/
.content_top{
	background:#f4f4f4;
	padding-bottom: 2em;
	padding-top: 1em;
}
.content_top h3,.content_bottom h3 {
	color: #555353;
	font-size: 2.7em;
	font-weight:700;
	margin: 0em 0 0.5em 0;
}
.content_top p{
	font-size: 1.1em;
	color: #555353;
	line-height: 1.8em;
	padding:1em 0;
	font-weight: 600;
}
.ipad_desc{
	float:left;
	width:30%;
	margin: 10em 6em;
}
.ipad_img{
   float:right;	
   padding-top:8em;
   margin-right: -1em;
   margin-bottom: -1em;
}
.ipad_img img{
	display:block;
}
.green{
	margin-top:5em;
}
.green a{
	border:2px solid #14af8f;
	color:#14af8f;
}
/***** Content - botttom ******/
.content_bottom{
	padding-top:8em;
}
.devices{
	float:left;
	padding-top:4em;
	margin-bottom: 4em;
}
.devices img{
	display:block;
	margin-left:-1em;
}
.devices_desc{
	float:right;
	width:32%;
	margin: 10em 6em;
}
.devices_desc h2{
	font-size:2.5em;
	color:#545454;
	padding-bottom:.5em;
	font-weight:200;
}
.devices_desc p{
	font-size: 1.1em;
	color: #555353;
	line-height: 1.8em;
	padding: 1em 0;
	font-weight: 600;
}
.devices_desc p span{
     color:#424242;
}


/*******************/
.footer {
	background: #2A2A29;
	padding:1em;
}
.bottom-nav li a {
	color: #fff;
	font-weight: 400;
	padding-top:45px;
}
.bottom-nav li a:hover{
 color:#F8A312;
 text-decoration: none;
}
.form2 {
	width: 44%;
	margin: 0 auto;
}
.span3,.span4 { 
	float: left;
	display: block;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border: 6px solid #222;
	outline: none;
	margin-left: 15px;
	background: #fff;
	font-family: 'Raleway', sans-serif;
}
.span3 img {
	padding: 13px;
	float:left;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.span3 i,.span4 i {
	color: #222;
	padding: 10px 23px 10px 0px;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
}
.span4 img {
	padding: 13px;
	float:left;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
}
.span3 i:hover ,.span4 i:hover {
	color:#fff;
}
.span3:hover,.span4:hover{
	background:#635839;
	outline: none;
	border: 6px solid #222;
}

nav.subMenu.navbar-custom.navbar-scroll-top.smint {
	position: absolute;
	top: 692px;
	width: 100%;
	z-index: 1000;
	padding: 0.8em;
	border-bottom:2px solid #635839;
}
.subMenu .inner {
	padding:0;
	font-weight: 400;
}
.subNavBtn {
	display: block;
	margin: 0px 0px 0 0;
	text-decoration: none;
	text-align: center;
	color: #fff;
}
.end {
	margin: 0;
}
.form2 {
	padding-bottom: 0.8em;
	float: right;
}
.hide-form{
	display: inline-block;
}
/*------Start-Media-quries------*/
/*----start-media-quries-for-1440px-Laptops-----*/
@media (max-width:1440px){
	.header-note h1 {
		font-size: 4em;
	}
	.header-note p {
		font-size: 1.32em;
	}
	.header-note {
		padding-top: 6.5em;
	}
	.head-bg {
		min-height: 91%;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top: 578px;
	}
	.top-nav ul li a {
		padding: 0.5em 1.5em;
	}
	.ipad_img {
		padding-top: 0em;
	}
	.ipad_desc {
		margin: 3em 6em;
	}
	.devices {
		padding-top: 2em;
		margin-bottom: 2em;
	}
	.form {
		width: 47%;
	}
	.copy-right{
		padding:1em 0;
	}
	.devices_desc {
		width: 32%;
		margin: 7em 6em;
	}
	.form2 {
		width: 49%;
		margin: 0 auto;
	}
}
/*----//End-media-quries-for-1440px-Laptops-----*/
/*----start-media-quries-for-1366px-Laptops-----*/
@media (max-width:1366px){
	.header-note h1 {
		font-size: 4em;
	}
	.header-note p {
		font-size: 1.32em;
	}
	.header-note {
		padding-top: 4.5em;
	}
	.head-bg {
		min-height: 91%;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top: 578px;
	}
	.top-nav ul li a {
		padding: 0.5em 1.5em;
	}
	.ipad_img {
		padding-top: 0em;
	}
	.ipad_desc {
		margin: 3em 6em;
	}
	.devices {
		padding-top: 2em;
		margin-bottom: 2em;
	}
	.form {
		width: 50%;
	}
	.copy-right{
		padding:1em 0;
	}
	.devices_desc {
		width: 32%;
		margin: 7em 6em;
	}
	.form2 {
		width:53%;
		margin: 0 auto;
	}
}
/*----//End-media-quries-for-1366px-Laptops-----*/
/*----start-media-quries-for-1280px-Laptops-----*/
@media (max-width:1280px){
	.header-note h1 {
		font-size: 4em;
	}
	.header-note p {
		font-size: 1.32em;
	}
	.header-note {
		padding-top: 6.5em;
	}
	.head-bg {
		min-height: 91%;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top: 578px;
	}
	.top-nav ul li {
	margin-left: 2em;
	}
	.top-nav ul li a {
	padding: 0.5em 1.5em;
	}
	.ipad_img {
		padding-top: 0em;
	}
	.ipad_desc {
		margin: 3em 6em;
	}
	.devices {
		padding-top: 2em;
		margin-bottom: 2em;
	}
	.form {
		width:54%;
	}
	.copy-right{
		padding:1em 0;
	}
	.devices_desc {
		width: 32%;
		margin: 7em 6em;
	}
	.form2 {
	 width: 57%;
	}
}
/*----//End-media-quries-for-1280px-Laptops-----*/
/*----start-media-quries-for-1024px-Laptops-----*/
@media (max-width:1024px){
	.header-note h1 {
		font-size: 3.5em;
	}
	.header-note p {
		font-size: 1.32em;
	}
	.header-note {
		padding-top: 6.5em;
	}
	.head-bg {
		min-height: 91%;
	}
	.border {
		border-bottom: 1.8px solid #FFF;
		width: 84%;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top: 540px;
	}
	.top-nav ul li a {
		padding: 0.5em 0.9em;
	}
	.top-nav ul li {
		margin-left: 0.5em;
	}
	.top-grids p, .Produtive p {
		font-size: 1em;
		width: 99%;
	}
	.ipad_img {
		padding-top: 0em;
	}
	.ipad_desc {
		margin: 3em 2em;
	}
	.devices {
		padding-top: 2em;
		margin-bottom: 2em;
	}
	.form {
		width: 66%;
	}
	.copy-right{
		padding:1em 0;
	}
	.devices_desc {
		width: 32%;
		margin: 6em 1em;
	}
	.devices img {
		margin-left: -8em;
	}
	.ipad_img img {
	margin-right: -61px;
	}
	.features.s2 {
		padding: 8em 0em 4em;
	}
	.full-nav-bottom{
		display:none;
	}
	.form2 {
	 width:90%;
	}
}
/*----//End-media-quries-for-1024px-Laptops-----*/
/*----start-media-quries-for-768px-Laptops-----*/
@media (max-width:768px){
	.hide-form{
		display: none;
	}
	.header-note h1 {
		font-size: 3.5em;
	}
	.header-note p {
		font-size: 1.32em;
	}
	.header-note {
		padding-top: 6.5em;
	}
	.border {
	width: 96%;
	}
	.head-bg {
		min-height: 91%;
	}
		.logo{
		display:none;
	}
	.logo1{
		display:block;
		position:absolute;
		left: 0;
		top: -44px;
	}
	.logo1 a{
		font-size: 1.5em;
		font-weight: 600;
		color: #FAA71A;
		text-transform: uppercase;
		font-weight: 700;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top: 550px;
	}
	.top-nav ul li a {
		padding: 0.7em 1.6em;
		font-size: 1em;
	}
	.features.s2 {
		padding: 5em 0em 4em;
	}
	.ipad_img {
		padding-top: 0em;
	}
	.ipad_desc {
		margin: 0em 3em 1em;
	}
	.content_top p {
		padding: 0em 0;
	}
	.devices {
		padding-top: 2em;
		margin-bottom: 2em;
	}
	.form {
		width: 91%;
	}
	.top-nav ul li {
		margin-left: 0em;
		width: 100%;
	}
	.copy-right{
		padding:0.5em 0;
	}
	.devices_desc {
		width: 32%;
		margin:2em 1em;
	}
	.features.s2 {
		padding: 8em 0em 4em;
	}
	.full-nav-bottom{
		display:none;
	}
	.form2{
		width:95%;
	}
	.grid1 span {
		right: 47%;
		top: 105%;
	}
	.grid1 {
		margin: 0 0 5em;
	}
	.ipad_img {
		width: 50%;
	}
	.devices img {
		display: block;
		margin-left: -16em;
	}
	.devices_desc p {
		padding:0em 0em;
	}
	.btn-red-lg,.btn-red-lg2{
		padding:0.3em 1em 0.3em 1em;
		width:70%
	}
	.Fellow {
		padding: 1em 0;
	}
	.btn-red-lg{
	  margin-bottom: 0.7em;
	}
	a#s3:hover {
		text-decoration: none;
	}
}
/*----//End-media-quries-for-768px-Laptops-----*/
/*----start-media-quries-for-640px-Laptops-----*/
@media (max-width:640px){
	.hide-form{
		display: none;
	}
	.head-bg {
		min-height: 91%;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top: 422px;
	}
	.header-note {
		padding-top: 4.5em;
	}
	.navbar-toggle {
		margin-right: 3px;
	}
	.header-note h1 {
		font-size: 3em;
	}
	.header-note p {
		font-size: 1.2em;
		width: 100%;
	}
	.ipad_desc {
		margin: 0em 3em 1em;
		float: none;
		text-align: center;
		width: 100%;
	}
	.content_top p {
		padding: 0em 0;
		font-size: 1em;
		margin: 0 auto;
		width: 87%;
	}
	.content_top h3, .content_bottom h3 {
		font-size: 2.5em;
		font-weight: 600;
	}
	.devices_desc {
		width: 100%;
		margin: 2em 0;
		text-align: center;
		margin: 0 auto;
	}
	.devices_desc p {
		font-weight: 600;
		width: 91%;
		margin: 0 auto;
		padding-bottom: 2em;
	 }
	 .Fellow p {
		color: #5A5858;
		font-size: 1em;
		line-height: 1.5em;
		width: 86%;
		margin-top: 9px;
   }
	.border-2 {
		width: 45%;
	}
	.form {
		width: 58%;
	}
	.form2 {
		width:78%;
	}
	.span1, .span2,.span3, .span4 {
		margin-bottom: 1em;
	}
}
/*----//End-media-quries-for-640pxs-----*/
/*----start-media-quries-for-480px-----*/
@media (max-width:480px){
	.hide-form{
		display: none;
	}
	.head-bg {
		background:url(../images/rocksand-mobile.jpg) no-repeat 0px 0px;
		min-height: 91%;
		background-size: cover;
	}
	.header-note {
		padding-top: 4em;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top:320px;
	}
	.border {
		width: 98%;
	}
	.header-note h1 {
		font-size:2.2em;
	}
	.header-note p {
		width: 100%;
		height: 64px;
		overflow: hidden;
	}
	.top-grids p, .Produtive p {
		font-size: 1em;
	}	
	.content_top h3, .content_bottom h3 {
		font-size: 2.1em;
	}
	.content_top p,.devices_desc p {
		font-size: 0.97em;
		width: 88%;
	}
	.ipad_desc {
		margin: 0em 1em 1em;
	}
	.Downlod {
		padding: 2em 0;
	}
	.Downlod h4 {
		font-size: 1.6em;
	}
	.grid1 span {
		right: 44%;
		top: 105%;
	}
	.ipad_img {
		margin-right: 6em;
	}
	.form2 {
		width: 89%;
	}
	.Reviews h5 {
	font-size: 1.6em;
	}
	.border-2 {
		width: 57%;
	}
	.Fellow p {
		font-size: 0.967em;
		width: 84%;
		overflow: hidden;
		height: 64px;
	}
	.follow-right h6 {
		font-size: 1.3em;
	}
	.follow-right span {
		font-size: 1.17em;
	}
	.span1 i, .span2 i {
		padding: 8px 7px;
	}
	.form {
		width: 79%;
	}
	.Fellow {
		padding: 0.5em 0;
	}
}
/*----//End-media-quries-for-480pxs-----*/
/*----start-media-quries-for-320px-----*/
@media (max-width:320px){
	.hide-form{
		display: none;
	}
	.head-bg {
		background:url(../images/rocksand-mobile.jpg) no-repeat 0px 0px;
		min-height: 91%;
		background-size: cover;
	}
	.header-note {
		padding-top:3em;
	}
	nav.subMenu.navbar-custom.navbar-scroll-top.smint {
		top:261px;
	}
	.border {
		width: 98%;
	}
	.header-note h1 {
		font-size:1.5em;
	}
	.header-note p {
		width: 100%;
		height:33px;
		overflow: hidden;
	}
	.top-grids p, .Produtive p {
		font-size: 1em;
	}	
	.content_top h3, .content_bottom h3 {
		font-size: 2.1em;
	}
	.content_top p,.devices_desc p {
		font-size: 0.97em;
		width: 88%;
	}
	.ipad_desc {
		margin: 0em 1em 1em;
	}
	.Downlod {
		padding: 2em 0;
	}
	.Downlod h4 {
		font-size: 1.6em;
	}
	.grid1 span {
		right: 41%;
		top: 54%;
	}
	.ipad_img {
		margin-right: 6em;
	}
	.form2 {
		width: 89%;
		margin: 0px 30px;
	}
	.Reviews h5 {
	font-size: 1.6em;
	}
	.border-2 {
		width: 57%;
	}
	.Fellow p {
		font-size: 0.967em;
		width: 84%;
		overflow: hidden;
		height: 64px;
		text-align: center;
	}
	.follow-right h6 {
		font-size: 1.3em;
		text-align: center;
	}
	.follow-right span {
		font-size: 1.17em;
	}
	.span1 i, .span2 i,.span3 i, .span4 i { 
		padding: 0;
		font-size: 1em;
	}
	.span1 img ,.span2 img {
		padding: 0 10px 0 0;
	}
	.form {
		width: 90%;
	}
	.Fellow {
		padding: 0.5em 0;
	}
	.span1, .span2,.span3, .span4 { 
		width: 100%;
		border: 3px solid rgba(247, 163, 20, 0.84);
		padding: 0.5em 1em;
	}
	.span1:hover,.span2:hover,.span3:hover,.span4:hover {
		border: 3px solid rgba(247, 163, 20, 0.84);
	}
	.devices img {
		margin-left: -26em;
	}
	.span3 img,.span4 img {
	 padding: 0px 3px 0px;
	}
	.content_bottom {
		padding-top: 1em;
	}
	a#s3 {
		font-weight: 700;
	}
	.grid1 {
		margin: 0 0 1em;
	}
	.top-grids h2 {
		margin: 2em 0 0.5em 0;
	}
	.follow-left ,.follow-right {
		margin-left: 0;
		text-align: center;
		margin: 0 auto;
		float:none !important;
	}
	.follow-left img {
		float: none;
	}
	.features.s2 {
		padding: 4em 0em 4em;
	}
}

}

/*------//End-Media-quries------*/